.bodybg{
   -fx-background-image:url("/sample/Media/bg.jpg");
   -fx-background-size:100%;
}

.logo{
    -fx-background-image:url("/sample/Media/Logo.png");
    -fx-background-size:100%;
}
.color{
   -fx-background-color:rgba(76, 112, 181, 0.7);
}

.button1{
  -fx-border-radius:16 0 0 16;
}
.button-container{
   -fx-border-radius:16 16 16 16;
   -fx-background-color: transparent;
}

.button2{
-fx-border-radius: 0 16 16 0;
-fx-background-color: rgba(255, 255, 255, 0.8);
}
.cornerlabel{
  -fx-border-radius:16;
}

